.main-panel {
    position: absolute;
    bottom: 0;
    top: 0px;
    left: 0px;
    right: 0;
    background-color: var(--vscode-editor-background);
    overflow: hidden;
}

.breadcrumb-container {
    display: flex;
    align-items: flex-start;
    padding-left: 16px;
    overflow: auto;
    white-space: nowrap;
    border-bottom-color: var(--vscode-editor-inactiveSelectionBackground);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.breadcrumb {
    font-family: var(--vscode-font-family);
    font-weight: var(--vscode-font-weight);
    font-size: var(--vscode-font-size);
    color: var(--vscode-breadcrumb-foreground);
    background-color: var(--vscode-breadcrumb-background);
    display: flex;
    flex-direction: row;
    line-height: var(--vscode-font-size);
    padding-top: 4px;
}

.image-button-image {
    height: var(--vscode-font-size);
}

.breadcrumb-file-icon {
    color: #519aba;
    font-size: 18px;
    padding-right: 2px;
}

.breadcrumb-codicon {
    color: var(--vscode-breadcrumb-foreground);
}
