.filter-box {
    font-family: var(--vscode-font-family);
    font-weight: var(--vscode-font-weight);
    font-size: var(--vscode-font-size);
    color: var(--vscode-settings-textInputForeground);
    background-color: var(--vscode-settings-textInputBackground);
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border: 0px none;
    border-radius: 0px;
}

.filter-box:focus {
    border: '1px solid var(--vscode-focusBorder)';
}

input {
    outline: none;
    color: var(--vscode-editor-foreground);
}

input:focus {
    outline: none;
    color: var(--vscode-editor-foreground);
}

/* Override clear button in FluentUI search box */
[class*='ms-Button'] {
    background-color: transparent !important;
    color: var(--vscode-settings-textInputForeground) !important;
    opacity: 0.8;
}
