.DS_Store
.huskyrc.json
dist
out
*.exe
log.log
**/node_modules
*.pyc
*.vsix
**/.vscode/.ropeproject/**
**/testFiles/**/.cache/**
*.noseids
.nyc_output
.vscode-test
__pycache__
npm-debug.log
**/.mypy_cache/**
!yarn.lock
coverage/
cucumber-report.json
**/.vscode-test/**
**/.vscode test/**
**/.vscode-smoke/**
**/.venv*/
port.txt
precommit.hook
pythonFiles/lib/**
debug_coverage*/**
languageServer/**
languageServer.*/**
bin/**
logs/**
obj/**
.pytest_cache
temp/
tmp/
src/test/datascience/tmp/**
src/test/datascience/temp/**
.python-version
.vs/
test-results*.xml
testresults.json
telemetry.json
xunit-test-results.xml
!build/
debug*.log
debugpy*.log
pydevd*.log
vscode.d.ts
vscode.proposed.*.d.ts
nodeLanguageServer/**
nodeLanguageServer.*/**
src/test/datascience/.venv*
!src/test/pythonEnvironments/**/*.*
.vscode-test-web
.github_token
# translation files
*.xlf
*.nls.*.json
*.i18n.json
l10n/
# Esbuild files
**/*.esbuild.meta.json
# Compilation of less to css
src/webviews/webview-side/interactive-common/variableExplorerGrid.css
src/webviews/webview-side/interactive-common/variableExplorerGrid.css.map
src/webviews/webview-side/react-common/seti/seti.css
src/webviews/webview-side/react-common/seti/seti.css.map
