**/*.map
**/*.analyzer.html
!out/webviews/webview-side/common/node_modules/**/*
images/**
docs/**
*.vsix
.appveyor.yml
.devcontainer*/**
.editorconfig
.env
.eslintrc
.eslintignore
.gitattributes
.gitignore
.gitmodules
.huskyrc.json
.husky/**
.npmrc
.nvmrc
.nycrc
.travis.yml
api/**
CODE_OF_CONDUCT.md
CODING_STANDARDS.md
CONTRIBUTING.md
CONTRIBUTING - LANGUAGE SERVER.md
coverconfig.json
cucumber-report.json
gulpfile.js
news/**
package.webviews/webview-side.dependencies.json
package-lock.json
packageExtension.cmd
pvsc-dev-ext.py
pvsc.code-workspace
INTERACTIVE_TROUBLESHOOTING.md
requirements.in
sprint-planning.github-issues
test.ipynb
travis*.log
tsconfig*.json
tsfmt.json
TELEMETRY.csv
TELEMETRY.md
.eslintrc.js
typings.json
vsc-extension-quickstart.md
vscode-python-signing.*
webpack.config.js
webpack.datascience-*.config.js

.devcontainer/**
.github/**
.mocha-reporter/**
.nvm/**
.nyc_output
.prettierrc.js
.*ignore
**/*.so
.sonarcloud.properties
.venv/**
.vscode/**
.vscode-test/**
.vscode-test-web/**
.vscode test/**
languageServer/**
languageServer.*/**
nodeLanguageServer/**
nodeLanguageServer.*/**
bin/**
build/**
BuildOutput/**
coverage/**
data/**
debug_coverage*/**
images/**/*.gif
images/**/*.png
ipywidgets/**
i18n/**
node_modules/**
obj/**
logs/**
out/**/*.stats.json
out/**/*.analyzer.html
out/coverconfig.json
out/webviews/webview-side/**/*.analyzer.html
out/webviews/webview-side/common/**
out/webviews/webview-side/**/*.js.LICENSE
out/webviews/webview-side/data-explorer/**
out/webviews/webview-side/webviews/webview-side/**
out/webviews/webview-side/history-react/**
out/webviews/webview-side/interactive-common/**
out/webviews/webview-side/ipywidgets/**
out/webviews/webview-side/native-editor/**
out/webviews/webview-side/notebook/webviews/webview-side/**
out/webviews/webview-side/notebook/ipywidgets/**
out/webviews/webview-side/notebook/index.*.html
out/webviews/webview-side/plot/**
out/webviews/webview-side/react-common/**
out/webviews/webview-side/viewers/webviews/webview-side/**
out/webviews/webview-side/viewers/ipywidgets/**
out/webviews/webview-side/viewers/index.*.html
out/webviews/webview-side/widgetTester/**
out/pythonFiles/**
out/src/**
out/test/**
precommit.hook
pythonFiles/**/*.pyc
pythonFiles/lib/**/*.dist-info/**
pythonFiles/lib/**/*.egg-info/**
pythonFiles/lib/python/bin/**
pythonFiles/lib/python/debugpy/**
pythonFiles/tests/**
scripts/**
src/**
test/**
temp/**
tmp/**
typings/**
types/**
test-results*
*.zip
!**/*nls.*.json
*.d.ts
debugpy_logging.cmd
