.react-grid-variable-explorer-cell-variable {
    color: var(--vscode-editor-foreground);
}

.react-grid-variable-explorer-cell-type {
    color: var(--vscode-editor-foreground);
}

.react-grid-variable-explorer-cell-string {
    color: var(--vscode-editor-foreground);
}

.react-grid-variable-explorer-cell-numeric {
    color: var(--vscode-editor-foreground);
}

body.vscode-high-contrast .react-grid-Row:hover {
    filter: opacity(70%);
}

/* High contrast uses an inverse for selection highlights, so just use foreground when hovering */
body.vscode-high-contrast .react-grid-Row:hover > * {
    color: var(--vscode-editor-foreground);
}
