@import url('../reactSlickGrid.css');

.resizable-span {
    cursor: ew-resize !important;
    width: 5px !important;
    z-index: 99999 !important;
}

.resizable-span:hover {
    transition: background-color 0.1s ease-out 0.4s !important;
}

.resizable-span:hover,
.resizable-span:active,
.resizable-span:focus,
.resizable-span:target {
    background: var(--vscode-focusBorder) !important;
}

::-webkit-scrollbar {
    width: 10px;
}

.react-grid-container {
    border: none;
    margin-left: 8px;
    width: 100%;
}

.react-grid-cell {
    padding: 4px;
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
    box-sizing: content-box;
    padding-left: 7px;
    box-sizing: border-box;
}

/* Some overrides necessary to get the colors we want */
.slick-headerrow-column {
    background-color: var(--vscode-sideBar-background);
    color: var(--vscode-sideBar-foreground);
    border-right: 1px solid transparent;
    border-bottom-color: none;
}

.slick-header-column.ui-state-default,
.slick-group-header-column.ui-state-default {
    border-left: 1px solid var(--vscode-editor-lineHighlightBorder) !important;
    border-right: 1px solid var(--vscode-editor-lineHighlightBorder);
    padding-right: 0px;
    padding-left: 6px;
    padding-bottom: 2px;
    height: 20px;
    line-height: 20px;
    display: flex;
}

.slick-headerrow-column.ui-state-default {
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 2px;
    padding-top: 3px;
    margin-top: -1px;
    border-left: 1px solid var(--vscode-editor-lineHighlightBorder);
    border-right: 1px solid var(--vscode-editor-lineHighlightBorder);
    border-bottom: 1px solid var(--vscode-editor-lineHighlightBorder);
}

.column-operation-section {
    padding-bottom: 5px;
    padding-top: 6px;
}

.column-operation-section .inner {
    display: flex;
    flex-direction: column;
    width: 98%;
}

.no-data {
    margin: 4px;
    padding: 4px;
}

.show-on-hover {
    opacity: 0;
}

.show-on-hover:hover {
    opacity: 1;
}

.react-grid-cell.active {
    background-color: var(--vscode-list-activeSelectionBackground);
    color: var(--vscode-list-activeSelectionForeground);
}

.react-grid-header-cell-active {
    background-color: #264f78;
}

.react-grid-cell-active {
    background-color: #094771;
    padding: 4px;
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
    border-right: 1px solid transparent;
    box-sizing: border-box;
}

.react-grid-header-cell-focus {
    background-color: #094771;
}

.react-grid-cell-focus {
    background-color: #062f4a;
}

.react-grid-header-cell-before {
    background-color: #6f1313;
}

.react-grid-cell-before {
    background-color: #4b1818;
}

.react-grid-cell-before-diff {
    background-color: #6f1313 !important;
}

.react-grid-header-cell-preview {
    background-color: #4b5632;
}

.react-grid-cell-preview {
    background-color: #373d29;
}

.react-grid-cell-preview-diff {
    background-color: #4b5632 !important;
}

.react-grid-header-cell-selected {
    background-color: #187bdf;
    /* color: white; */
}

.react-grid-cell-selected {
    background-color: #0060c0;
    /* color: white; */
}

.react-grid-row-cell-selected {
    background-color: #0060c0;
    /* color: white; */
}

.slick-row:hover:not(.selected-row) > .react-grid-cell {
    /* background-color: #e8e8e8; */
    background-color: var(--override-selection-background, var(--vscode-list-hoverBackground));
}

.slick-cell.active {
    background-color: #187bdf;
    /* color: #ffffff; */
}
