.number-formatter {
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
}

.cell-formatter {
    /* Note: This is impacted by the RowHeightAdjustment in reactSlickGrid.tsx */
    margin: 0px 0px 0px 0px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
}
