.outer-container {
    width: auto;
    height: 100%;
}

.react-grid-container {
    border-color: var(--vscode-editor-inactiveSelectionBackground);
    border-style: solid;
    border-width: 1px;
}

.react-grid-measure {
    position: absolute;
    bottom: 5px;
}

.react-grid-filter-button {
    background: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 8px 4px;
    margin-right: 18px;
}

.react-grid-header-cell {
    padding: 0px 4px;
    background-color: var(--vscode-debugToolBar-background);
    color: var(--vscode-editor-foreground);
    text-align: left;
    font-weight: bold;
    border-right-color: var(--vscode-editor-inactiveSelectionBackground);
}

.react-grid-cell {
    padding: 4px;
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
    border-bottom-color: var(--vscode-editor-inactiveSelectionBackground);
    border-right-color: var(--vscode-editor-inactiveSelectionBackground);
    border-right-style: solid;
    box-sizing: border-box;
}

.react-grid-cell.active {
    background-color: var(--vscode-list-focusBackground);
    color: var(--vscode-button-foreground);
}

/* Some overrides necessary to get the colors we want */
.slick-headerrow-column {
    background-color: var(--vscode-debugToolBar-background);
    border-right-color: var(--vscode-editor-inactiveSelectionBackground);
    border-right-style: solid;
    border-bottom-color: var(--vscode-debugToolBar-background);
}

.slick-headerrow-column.ui-state-default {
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-top: 0px;
}

.slick-header-column.ui-state-default,
.slick-group-header-column.ui-state-default {
    border-right-color: var(--vscode-editor-inactiveSelectionBackground);
}

.slick-sort-indicator {
    float: right;
    width: 0px;
    margin-right: 12px;
    margin-top: 1px;
}

.react-grid-header-cell:hover {
    background-color: var(--vscode-editor-inactiveSelectionBackground);
}

.react-grid-header-cell > .slick-sort-indicator-asc::before {
    background: none;
    content: '▲';
    align-items: center;
}

.react-grid-header-cell > .slick-sort-indicator-desc::before {
    background: none;
    content: '▼';
    align-items: center;
}

.slick-row:hover > .react-grid-cell {
    background-color: var(--override-selection-background, var(--vscode-list-hoverBackground));
}

/* Slick.Editors.Text */
input.editor-text {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px var(--vscode-input-border);
    padding: 2px;
    margin: 0;
    outline: 0 none;
    border-style: solid;
    background-color: var(--vscode-list-focusBackground);
    color: var(--vscode-button-foreground);
    text-align: left;
    /* input does not inherit font from body */
    font-family: var(--vscode-editor-font-family);
    font-weight: var(--vscode-editor-font-weight);
    font-size: var(--vscode-editor-font-size);
}

.slick-cell.editable {
    border-color: none;
    border-style: none;
    border: 0;
    padding: 0;
    margin: 0;
}

.slice-data {
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    padding: 4px;
    /* input does not inherit font from body */
    font-family: var(--vscode-font-family);
    font-weight: var(--vscode-font-weight);
    font-size: var(--vscode-font-size);
    height: 30px;
}

[class*='ms-Dropdown is-disabled'],
.submit-slice-button:disabled,
.slice-data:disabled {
    color: #cccccc;
    opacity: 0.4;
}

.slicing-control {
    font-family: var(--vscode-font-family);
    font-weight: var(--vscode-font-weight);
    font-size: var(--vscode-font-size);
}

details > summary {
    list-style-type: none;
    display: flex;
}

details > summary::-webkit-details-marker {
    display: none;
}

details > summary::before {
    font: normal normal normal 16px/1 codicon;
    content: '\eab6';
}

details[open] > summary::before {
    font: normal normal normal 16px/1 codicon;
    content: '\eab4';
}

.submit-slice-button {
    color: var(--vscode-button-foreground);
    background-color: var(--vscode-button-background);
    border: none;
    margin-left: 10px;
    padding: 4px 8px;
    height: 30px;
    font-family: var(--vscode-font-family);
    font-weight: var(--vscode-font-weight);
    font-size: var(--vscode-font-size);
}

:focus {
    outline: none;
}

/* Overrides for Fluent UI controls */
[class*='fieldGroup'] {
    border: 0 none;
    background: none;
}

[class*='text'] {
    color: var(--vscode-editor-foreground);
    font-family: var(--vscode-font-family);
    font-weight: var(--vscode-font-weight);
    font-size: var(--vscode-font-size);
}

[class*='ms-Dropdown-label'] {
    color: var(--vscode-editor-foreground);
    font-family: var(--vscode-font-family);
    font-weight: var(--vscode-font-weight);
    font-size: var(--vscode-font-size);
}

[class*='ms-Dropdown-title'] {
    font-family: var(--vscode-font-family);
    font-weight: var(--vscode-font-weight);
    font-size: var(--vscode-font-size);
    background-color: var(--vscode-dropdown-background);
    border: var(--vscode-dropdown-border);
    color: var(--vscode-dropdown-foreground);
}

[class*='ms-Dropdown-caretDown'] {
    color: var(--vscode-dropdown-foreground);
}
