name: 'Classifier: Trainer'
on:
  schedule:
    - cron: 0 0 6 * *
  repository_dispatch:
    types: [trigger_classifier_trainer]
  workflow_dispatch:

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Actions
        uses: actions/checkout@v4
        with:
          repository: 'microsoft/vscode-github-triage-actions'
          ref: stable
          path: ./actions
      - name: Install Actions
        run: npm install --production --prefix ./actions
      - name: Install Additional Dependencies
        run: npm install @azure/storage-blob@12
      - name: 'Run Classifier: Scraper'
        uses: ./actions/classifier/train/fetch-issues
        with:
          areas: accessibility|api-proposal|data-viewer|documentation|interactive-window|interactive-window-debugging|ipywidgets|language-any|localization|notebook-commands|notebook-debugging|notebook-getting-started|notebook-import-export|notebook-intellisense|notebook-kernel|notebook-kernel-picker|notebook-liveshare|notebook-output|notebook-remote|notebook-run-by-line|notebook-serialization|notebook-workflow|output-renderer|plot-viewer|tensorboard|upstream-pylance|upstream-python|upstream-vscode|user-setup|variable-explorer|zmq
          assignees: amunger|DonJayamanne|rebornix
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade numpy scipy scikit-learn joblib nltk
      - name: 'Run Classifier: Generator'
        run: python ./actions/classifier/train/generate-models/generate.py category
      - name: 'Run Classifier: Upload'
        uses: ./actions/classifier/train/upload-models
        with:
          blobContainerName: vscode-jupyter-models
          blobStorageKey: ${{secrets.AZURE_BLOB_STORAGE_CONNECTION_STRING}}
